<div class="all"></div>
<img
  class="brush"
  style="
    top: 8%;
    left: 49%;
    margin-top: 90px;
    margin-left: -145px;
    position: absolute;
    width: 326px;
  "
  src="/assets/aicha/brush2.png"
  alt="image"
/>

<p class="header-main" translate>Who are you ?</p>
<!--
<img class="monkey" src="/assets/aicha/monkey.png" alt="image" />
<img class="lion" src="/assets/aicha/lion.png" alt="image" /> -->
<div
  class="col-lg-4 course_col"
  style="display: inline-block; background-color: #ffffff"
  class="btn parent fourth"
  (click)="ParentClick()"
>
  <div class="select-text">
    <div
      class="select-title ng-binding"
      style="
        font-size: 34px;
        color: #424c6a;
        letter-spacing: 2.5px;
        padding-top: 20px;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-family: 'Amatic SC';
      "
      translate>
      Parent
    </div>
    <div
      class="select-subtitle ng-binding"
      style="
        font-size: 9px;
        color: #929aaa;
        width: 155px;
        font-family: 'Montserrat';
        margin: auto;
      "
      translate>
      Introduce your child to Computer Science and track their progress
    </div>
    <div class="parent-img select-img">
      <a type="button" (click)="ParentClick()">
        <img
          src="/assets/aicha/login4@2x.png"
          style="height: 165px; width: 84px" />
        <img
          src="/assets/aicha/login3@2x.png"
          style="height: 100px; width: 80px"
      /></a>
    </div>
  </div>
</div>

<div
  class="col-lg-4 course_col"
  style="display: inline-block; background-color: #ffffff"
  class="btn child fourth"
>
  <div class="select-text">
    <div
      class="select-title ng-binding"
      style="
        font-size: 34px;
        color: #424c6a;
        letter-spacing: 2.5px;
        padding-top: 20px;
        padding-bottom: 5px;
        text-transform: uppercase;
        font-family: 'Amatic SC';
      "
      translate>
      Child
    </div>
    <div
      class="select-subtitle ng-binding"
      style="
        font-size: 9px;
        color: #929aaa;
        width: 155px;
        font-family: 'Montserrat';
        margin: auto;
      "
      translate>
      Come and dive into Computer science courses in a fun way
    </div>
    <br />
    <div class="parent-img select-img">
      <a type="button" (click)="ChildClick()">
        <img
          src="/assets/aicha/login3@2x.png"
          style="height: 120px; width: 100px"
      /></a>
    </div>
    <br />
  </div>
</div>

<!--
<br />
<br />




<br />
<br />

<button type="button" class="btn child fourth" (click)="ChildClick()">
  Child
</button>
-->
