<app-navbar2></app-navbar2>

<form>
  <div
    style="margin-left: -61px"
    class="row justify-content-center mb-4 radio-group"
  >
    <div class="col-sm-3 col-5">
      <div class="radio selected mx-auto" data-value="dk">
        <img
          class="fit-image"
          src="https://i.imgur.com/5TqiRQV.jpg"
          width="105px"
          height="55px"
        />
      </div>
    </div>
    <div class="col-sm-3 col-5">
      <div class="radio mx-auto" data-value="visa">
        <img
          class="fit-image"
          src="https://i.imgur.com/OdxcctP.jpg"
          width="105px"
          height="55px"
        />
      </div>
    </div>
    <div class="col-sm-3 col-5">
      <div class="radio mx-auto" data-value="master">
        <img
          class="fit-image"
          src="https://i.imgur.com/WIAP9Ku.jpg"
          width="105px"
          height="55px"
        />
      </div>
    </div>
    <div class="col-sm-3 col-5">
      <div class="radio mx-auto" data-value="paypal">
        <img
          class="fit-image"
          src="https://i.imgur.com/cMk1MtK.jpg"
          width="100px"
          height="55px"
        />
      </div>
    </div>
    <br />
  </div>
  <input type="text" placeholder="Credit Card #" name="cardNumber" />
  <input
    style="width: 85px; margin-left: -3px"
    type="text"
    placeholder="Exp Month"
    name="expMonth"
  />
  <input
    style="margin-left: 12px; width: 85px"
    type="text"
    placeholder="Exp Year"
    name="expYear"
  />
  <input
    style="width: 76px; margin-left: 12px"
    type="text"
    placeholder="CVC"
    name="cvc"
  />
  <select name="cardtype" id="">
    <option value="visa">Visa</option>
    <option value="master">MasterCard</option>
  </select>
  <button (click)="cancel()">Cancel</button>

  <button style="margin-left: 12px" (click)="chargeCreditCard()">Submit</button>
</form>
