@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Poppins:300,400,500,600,700,800,900");

body {
  background-color: #ffffff;
  background-color: var(--white);

  background-image: url("/assets/aicha/card_back-95b4a2f22316b7f21d456d3ed1bc8353fd596cd368f6823e0db9af558f4b9570.png");

  background-repeat: repeat-x;
  background-size: 200px 150px;
  text-align: center;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /*
    background-color: #e0e0e0;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");*/
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
