
<div class="all">

</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#ffd700"
    fill-opacity="1"
    d="M0,160L34.3,165.3C68.6,171,137,181,206,160C274.3,139,343,85,411,106.7C480,128,549,224,617,261.3C685.7,299,754,277,823,277.3C891.4,277,960,299,1029,272C1097.1,245,1166,171,1234,144C1302.9,117,1371,139,1406,149.3L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
  ></path>
</svg>

<img class="girafe" src="/assets/girafe@2x-8.png" alt="image" />

<!--

    <img src="/assets/wave1.svg" alt="My Happy SVG" />
-->
<div class="hero-section">
  <h1 class="hero-title">COURSES</h1>
  <p class="hero-subtitle">LEARN ALL ABOUT KODEKIDIE’S CODING COURSES</p>
</div>


<div id="box" >
  <h3 style="color: #f9cf0e;margin-bottom: 5px;text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;"> Available Courses in your trial</h3>
  <hr style="color: #f9cf0e ; height: 5px ;margin-bottom: 10px">
  <div class="col-lg-4 course_col" style="display: inline-block">


    <div class="course" style="border-style: solid;
  border-color: #318CE7;  border-width: 5px;  border-radius: 15px; margin: 3px">

      <div class="activity-specs novice" ng-class="activity.level" style="background-color: #318CE7" >
        <div class="ng-binding" style="display: inline-block">
          <img ng-cdn-src="home/block_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/block_coding-f472221fcc7fede3f5daaf82c7db16fccd817de456cc63e008c8a6f2a72ffe4e.svg">
          Pre-Block Coding
        </div>
        <div class="ng-binding" style="display: inline-block ; margin-left:90px ">
          <img ng-cdn-src="home/novice.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/novice-177cdde65ffd8bc95b3a72e706a53b6cc1e10c5aa3be65e32911202145d0f6e0.svg">
          Novice
        </div>
      </div>
      <div class="course_image"><img src="/assets/saharaa.png" alt="" ></div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a  (click)="course1Click()"  >Course 01 </a> <p style="text-align: center">Sequencing</p></div>

        <div class="course_text" >
          <p>Help Franklin the turtle to collect his broccoli using an enumerated collection of objects in which repetitions are allowed</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuenow="9.67741935483871" aria-valuemin="0" aria-valuemax="100" style="width:9.67741935483871%">
          </div>
        </div>
      </div>

    </div>

  </div>




  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #318CE7;  border-width: 5px;  border-radius: 15px; margin: 3px">
      <div class="activity-specs novice" ng-class="activity.level" style="background-color: #318CE7" >
        <div class="ng-binding" style="display: inline-block">
          <img ng-cdn-src="home/block_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/block_coding-f472221fcc7fede3f5daaf82c7db16fccd817de456cc63e008c8a6f2a72ffe4e.svg">
          Pre-Block Coding
        </div>
        <div class="ng-binding" style="display: inline-block ; margin-left:90px ">
          <img ng-cdn-src="home/novice.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/novice-177cdde65ffd8bc95b3a72e706a53b6cc1e10c5aa3be65e32911202145d0f6e0.svg">
          Novice
        </div>
      </div>
      <div class="course_image"><img src="/assets/snow.png" alt="" style=" height: 186px"></div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#" >Course 02 </a> <p style="text-align: center">Loops</p></div>

        <div class="course_text" >
          <p>It's cold and Franklin couldn't resiste so he asked Kowalski to help him, but first he needs to collect some money, can you give him a hand ?</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuenow="9.67741935483871" aria-valuemin="0" aria-valuemax="100" style="width:9.67741935483871%">
          </div>
        </div>
      </div>

    </div>

  </div>





  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #318CE7;  border-width: 5px;  border-radius: 15px;margin: 3px">
      <div class="activity-specs novice" ng-class="activity.level" style="background-color: #318CE7" >
        <div class="ng-binding" style="display: inline-block">
          <img ng-cdn-src="home/block_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/block_coding-f472221fcc7fede3f5daaf82c7db16fccd817de456cc63e008c8a6f2a72ffe4e.svg">
          Pre-Block Coding
        </div>
        <div class="ng-binding" style="display: inline-block ; margin-left:90px ">
          <img ng-cdn-src="home/novice.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/novice-177cdde65ffd8bc95b3a72e706a53b6cc1e10c5aa3be65e32911202145d0f6e0.svg">
          Novice
        </div>
      </div>
      <div class="course_image"><img src="/assets/spring.png" alt="" style=" height: 186px;width: 325px"></div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#" >Course 03 </a> <p style="text-align: center">Conditions</p></div>

        <div class="course_text" >
          <p>Spring is here and Franklin back. some snowballs didn't melt yet. please help him to evaluate his actions to avoid them </p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuenow="9.67741935483871" aria-valuemin="0" aria-valuemax="100" style="width:9.67741935483871%">
          </div>
        </div>
      </div>

    </div>

  </div>  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #318CE7;  border-width: 5px;  border-radius: 15px;margin: 3px">
      <div class="activity-specs novice" ng-class="activity.level" style="background-color: #318CE7" >
        <div class="ng-binding" style="display: inline-block">
          <img ng-cdn-src="home/block_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/block_coding-f472221fcc7fede3f5daaf82c7db16fccd817de456cc63e008c8a6f2a72ffe4e.svg">
          Pre-Block Coding
        </div>
        <div class="ng-binding" style="display: inline-block ; margin-left:90px ">
          <img ng-cdn-src="home/novice.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/novice-177cdde65ffd8bc95b3a72e706a53b6cc1e10c5aa3be65e32911202145d0f6e0.svg">
          Novice
        </div>
      </div>
      <div class="course_image">
        <img ng-cdn-src="home/activities/beaver_blocks/hour-of-code.png?v=2" class="thumb ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/activities/beaver_blocks/hour-of-code-d5d7aaaaf0164e4790a97ff93f280f1778fd78cc62a04fb4651fc2dea9c975cf.png" style=" height: 186px;width: 323px">
      </div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#" >End course </a> <p style="text-align: center">HUGE QUIZ</p></div>

        <div class="course_text" >
          <p> a quiz which covers all the courses</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuenow="9.67741935483871" aria-valuemin="0" aria-valuemax="100" style="width:9.67741935483871%">
          </div>
        </div>
      </div>

    </div>

  </div>


</div>




<section class="motivation">
  <h2>What are you waiting for?</h2>
  <p>
    Start teaching your students the basics of Computer Science and prepare them
    for the future!
  </p>
</section>


