<div class="all"></div>
<img
  style="position: absolute; top: 30%; left: 46%"
  src="/assets/aicha/email.png"
  alt=""
/>

<h1
  style="
    font-size: 50px;
    text-align: center;
    margin-top: -36%;
    color: #ffffff;
    font-family: 'Amatic SC';
    font-weight: 900;
  "
>
  Enter Your Email Adress Here
</h1>
<form
  style="text-align: center"
  *ngIf="!isSuccessful"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div style="margin-right: 5%" class="form-group">
    <input
      type="email"
      class="form-control"
      name="email"
      [(ngModel)]="form.email"
      required
      email
      #email="ngModel"
    />
  </div>

  <div class="form-group">
    <button
      style="margin-top: -13px; left: 61%"
      class="btn btn-primary btn-block"
    >
      Send
    </button>
  </div>
</form>
<a></a>
