@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

body {
  background-color: #ffffff;
  background-color: var(--white);

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /*
  background-color: #e0e0e0;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");*/
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h2 {
  font-size: 45px;
  letter-spacing: 4.5;
  font-family: "Amatic SC";
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  text-transform: uppercase;
  word-spacing: 3px;
  font-weight: bolder;
  color: #ffffff;
  display: block;

  position: absolute;
  z-index: 1;
  top: 5%;
  left: 55%;
  margin-top: 90px;
  margin-left: -145px;

  text-align: center;
}
.brush {
  top: 5%;
  left: 50%;
  margin-top: 90px;
  margin-left: -145px;
  position: absolute;
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.all {
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url("/assets/aicha/bg3.jpg");
  background-size: cover;
  background-position: center;
  display: block;

  background-size: 200px 200px;
}

.login-page {
  z-index: 1;
  position: absolute;
  width: 360px;
  padding: 8% 0 0;
  left: 35%;
  top: 14%;
}
.form {
  position: absolute;
  z-index: 1;

  max-width: 360px;
  padding: 45px;
  text-align: center;
  /*  background-color: #fcd764;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   background: rgba(104, 183, 178, 0.75);

  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);*/
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border: 1px solid rgba(255, 255, 255, 0.18);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #ffffff;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #68b7b2;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #fea100;
}
.form .message {
  margin: 15px 0 0;
  color: black;
  font-size: 13px;
}
.form .message a {
  color: black;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
#failed {
  margin: 8px;
  padding: 1px;
}
