
<body
  style="
  background-image: url('https://www.transparenttextures.com/patterns/inspiration-geometry.png');
  background-color: #ffffff;
"
>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li  style="margin-top: -10px;" class="sidebar-brand">
    </li>
    <li>
      <a id="c" translate>Courses</a>
    </li>
    <li>
      <a [routerLink]= "['/profile']" id="p" translate>profile</a>
    </li>
    <li>
      <a id="co" translate>Contact us</a>
    </li>
  </ul>
</div>


<app-navbar2></app-navbar2>


<img   style="position: absolute;
right: 0;
top: 12%;
width: 460px;"  src="/assets/aicha/couch.png" alt="">

<div *ngIf="currentuser?.roles=='ROLE_CHILD' " >


  <h2  id="hello"
       style="
  position: absolute;
  top: 230px;
  left: 34%;
  font-family: 'Amatic SC';
  font-size: 80px;"
       translate> Welcome </h2>
  <h2 style="
  position: absolute;
  top: 230px;
  left: 50%;
  font-family: 'Amatic SC';
  font-size: 80px;" >{{currentuser.username}}</h2> </div>
<div *ngIf="currentuser?.roles=='ROLE_PARENT' " >

  <h2 id="a"
       style="
        position: absolute;

  top: 31%;
  margin-top: 169px;
  left: 34%;
  font-family: 'Amatic SC';


  font-size: 80px;" translate >Welcome </h2>
  <h2 style="    position: absolute;

  top: 31%;
  margin-top: 169px;
  left: 50%;
  font-family: 'Amatic SC';


  font-size: 80px;"  > {{username?.enfant.compte.username}}</h2>

</div>





<div id="box1" style="left: 10%;
    margin-top: 400px;

" >
  <h3 style="color: #f9cf0e;margin-bottom: 5px;text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;" translate id="trial"> Available Courses in your trial</h3>
  <hr style="color: #f9cf0e ; height: 5px ;margin-bottom: 10px">
  <div class="col-lg-4 course_col" style="display: inline-block">


    <div class="course" style="border-style: solid;
  border-color: #318CE7;  border-width: 5px;  border-radius: 15px; margin: 3px">

      <div class="activity-specs novice" ng-class="activity.level" style="background-color: #318CE7" >
        <div class="ng-binding" style="display: inline-block" translate>
          <img ng-cdn-src="home/block_coding.svg" class="ng-isolate-scope"
               src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/block_coding-f472221fcc7fede3f5daaf82c7db16fccd817de456cc63e008c8a6f2a72ffe4e.svg">
          Pre-Block Coding
        </div>
        <div class="ng-binding" style="display: inline-block ; margin-left:90px " translate>
          <img ng-cdn-src="home/novice.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/novice-177cdde65ffd8bc95b3a72e706a53b6cc1e10c5aa3be65e32911202145d0f6e0.svg">
          Novice
        </div>
      </div>
      <div class="course_image"><img src="/assets/lila/saharaa.png" alt="" ></div>
      <div class="course_body"   (click)="Level1Click()">
        <div class="course_title" style="text-align: center"><a  translate >Level I </a> <p style="text-align: center" translate>Pre-Reading Block </p></div>

        <div class="course_text" >
          <p translate>Help Franklin the turtle to collect </p><p translate> his broccoli</p>
        </div>

        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>

    </div>

  </div>




  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #52df49;  border-width: 5px;  border-radius: 15px; margin: 3px">
      <div class="activity-specs beginner" ng-class="activity.level" style="background-color: #52df49">
        <div class="ng-binding" style="display: inline-block ; " translate>
          <img ng-cdn-src="home/block_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/block_coding-f472221fcc7fede3f5daaf82c7db16fccd817de456cc63e008c8a6f2a72ffe4e.svg">
          Block Coding
        </div>
        <div class="ng-binding" style="display: inline-block ; margin-left: 110px" translate>
          <img ng-cdn-src="home/beginner.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/beginner-77b5124ea880e113a20ffcac31b5dc46c2ea6cbe40a951151e494d27a512ef56.svg">
          Beginner
        </div>
      </div>

      <div class="course_image">
        <div *ngIf="User" >
          <img  [class.example-class]="User?.points +User?.points2 == 70" ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
        </div>
        <div  *ngIf="!User"  >


          <img  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

        </div>


        <img    [class.opacity]=" ! (User?.points +User?.points2 == 70)"   src="/assets/lila/saharaa2.png" alt="" style=" height: 186px">

      </div>
      <div class="course_body" >
        <div *ngIf="User " >

          <div class="course_title" style="text-align: center">

            <div *ngIf="User?.points +User?.points2 == 70    ;else level2  " >
              <a (click)="Leve2Click()" translate>Level II </a>
            </div>
            <ng-template #level2>
              <a  translate>Level II </a>

            </ng-template>


          </div>
          <p style="text-align: center" translate>Hour Of Code</p></div>


        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" >
          </div>
        </div>
      </div>

    </div>

  </div>





  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #52df49;  border-width: 5px;  border-radius: 15px;margin: 3px">
      <div class="activity-specs beginner" ng-class="activity.level" style="background-color: #52df49;">
        <div class="ng-binding" style="display: inline-block" translate>
          <img ng-cdn-src="home/text_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/text_coding-b30c0986138a0985d3af66182f72ceacb98af52f29c088be04579e838ad968ab.svg">
          Text Coding
        </div>
        <div class="ng-binding" style="display: inline-block;margin-left: 120px" translate>
          <img ng-cdn-src="home/beginner.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/beginner-77b5124ea880e113a20ffcac31b5dc46c2ea6cbe40a951151e494d27a512ef56.svg">
          Beginner
        </div>
      </div>
  <!--   <div class="course_image">
        <img ng-cdn-src="home/activities/beaver_blocks/hour-of-code.png?v=2" class="thumb ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/activities/beaver_blocks/hour-of-code-d5d7aaaaf0164e4790a97ff93f280f1778fd78cc62a04fb4651fc2dea9c975cf.png" style=" height: 186px;width: 323px">
      </div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#" translate >Level III </a> <p style="text-align: center" translate>Coding Adventure</p></div>

        <div class="course_text" >
          <p translate>Help the cute urchin catch bananas in 75 fun-filled challenges!</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" >
          </div>
        </div>
      </div>
-->
      <div class="course_image">
        <img  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

        <img   ng-cdn-src="home/activities/beaver_blocks/hour-of-code.png?v=2" class="thumb ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/activities/beaver_blocks/hour-of-code-d5d7aaaaf0164e4790a97ff93f280f1778fd78cc62a04fb4651fc2dea9c975cf.png" style=" height: 186px;width: 323px;opacity: 0.5;">
      </div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#" translate >Level III </a> <p style="text-align: center" translate>Coding Adventure</p></div>

        <div class="course_text" >
          <p translate>Help the cute urchin catch bananas in 75 fun-filled challenges!</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" >
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #DF6D14;  border-width: 5px;  border-radius: 15px;margin: 3px">

      <div class="activity-specs intermediate" style="background-color: #DF6D14;" ng-class="activity.level">
        <div class="ng-binding" style="display: inline-block" translate>
          <img ng-cdn-src="home/text_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/text_coding-b30c0986138a0985d3af66182f72ceacb98af52f29c088be04579e838ad968ab.svg">
          Text Coding
        </div>
        <div class="ng-binding" style="display: inline-block;margin-left: 90px" translate>
          <img ng-cdn-src="home/intermediate.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/intermediate-216a928bdd01d66b29604933ed068d146f51661c5983687c721eec283c4ad698.svg">
          Intermediate
        </div>
      </div>
      <div class="course_image">
        <img  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">


        <img ng-cdn-src="home/activities/beaver_blocks/hour-of-code.png?v=2" class="thumb ng-isolate-scope" src="assets/lila/masr.png" style=" height: 186px;width: 323px ;opacity: 0.5">
      </div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#" translate>Level IV </a> <p style="text-align: center" translate>Python Fundamentals</p></div>

        <div class="course_text" >
          <p translate>Help the cute urchin catch bananas in 75 fun-filled challenges!</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>

    </div>

  </div>

</div>


<!-- premium -->
<div id="box2" style="left: 10%;
margin-top: 50px;">

  <h3 style="color: #f9cf0e;margin-bottom: 5px;text-transform: uppercase;
    font-size: 20px;
    font-weight: 500; display: inline-block" translate id="trial2"> PREMIUM CONTENT  <p style="display: inline-block" translate>Ask your parent for help!</p></h3>
  <hr style="color: #f9cf0e ; height: 5px ;margin-bottom: 10px">
  <div class="col-lg-4 course_col" style="display: inline-block">


    <div class="course" style="border-style: solid;
  border-color: #318CE7;  border-width: 5px;  border-radius: 15px; margin: 3px">

      <div class="activity-specs novice" ng-class="activity.level" style="background-color: #318CE7" >
        <div class="ng-binding" style="display: inline-block" translate>
          <img ng-cdn-src="home/block_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/block_coding-f472221fcc7fede3f5daaf82c7db16fccd817de456cc63e008c8a6f2a72ffe4e.svg">
          Pre-Block Coding
        </div>
        <div class="ng-binding" style="display: inline-block ; margin-left:90px " translate>
          <img ng-cdn-src="home/novice.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/novice-177cdde65ffd8bc95b3a72e706a53b6cc1e10c5aa3be65e32911202145d0f6e0.svg">
          Novice
        </div>
      </div>
      <div class="course_image">

        <div *ngIf="payment;else levelone">


          <img    [class.example-class]="level1"
                  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope"
                  style="position: absolute;z-index: 1 " ng-show="locked()"
                  src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img [class.opacity]="!level1" src="assets/lila/road.png" alt="" >

          <button     style="   position: absolute;
               top: 49%;
               left: 22%;
               z-index: 10; "    [class.example-class]="level1"   class="purchase"     (click)="Purchase()" translate >Purchase: 200$</button>
        </div>
      </div>

      <div class="course_body" (click)="Level1Click()" >
        <div class="course_title" style="text-align: center"><a   translate>Level I </a> <p style="text-align: center" translate>Pre-Reading Block Coding</p>
        </div>






        <ng-template #levelone>
          <img    ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img src="assets/lila/road.png" alt=""  style="opacity: 0.5">

          <button         style="    position: absolute;
        top: 49%;
        left: 22%;
        z-index: 10;   "       class="purchase"   (click)="Purchase()" translate >Purchase: 200$</button>
        </ng-template>

        <!--
        <ng-template #other_content2>
        <button      (click)="Purchase()"  >Purchase</button>

        <span><strong>200$</strong></span>
  </ng-template> -->
        <div class="course_text" >
          <p translate>Help Franklin the turtle to collect his broccoli</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" >
          </div>
        </div>
      </div>

    </div>

  </div>




  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #52df49;  border-width: 5px;  border-radius: 15px; margin: 3px">
      <div class="activity-specs beginner" ng-class="activity.level" style="background-color: #52df49">
        <div class="ng-binding" style="display: inline-block ; " translate>
          <img ng-cdn-src="home/block_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/block_coding-f472221fcc7fede3f5daaf82c7db16fccd817de456cc63e008c8a6f2a72ffe4e.svg">
          Block Coding
        </div>
        <div class="ng-binding" style="display: inline-block ; margin-left: 110px" translate>
          <img ng-cdn-src="home/beginner.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/beginner-77b5124ea880e113a20ffcac31b5dc46c2ea6cbe40a951151e494d27a512ef56.svg">
          Beginner
        </div>
      </div>
      <div class="course_image">



        <div *ngIf="payment;else leveltwo">


          <img    [class.example-class]="level2"
                  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope"
                  style="position: absolute;z-index: 1 " ng-show="locked()"
                  src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img    [class.opacity]="!level2"    src="assets/lila/frog.png" style=" height: 186px; " >

          <button     style="   position: absolute;
             top: 49%;
             left: 22%;
             z-index: 10; "    [class.example-class]="level2"     class="purchase"   (click)="Purchase()"  translate>Purchase: 300$</button>
        </div>


















      </div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a (click)="Leve2Click()" translate>Level II </a> <p style="text-align: center" translate>Hour Of Code</p></div>


        <ng-template #leveltwo>
          <img    ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img src="assets/lila/frog.png" alt=""  style="opacity: 0.5">

          <button         style="    position: absolute;
          top: 49%;
          left: 22%;
          z-index: 10;   " class="purchase" (click)="Purchase2()"  translate>Purchase: 300$</button>
        </ng-template>

        <div class="course_text" >
          <p translate>Chewie is looking for treasure </p><p translate> can you help him ?</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" >
          </div>
        </div>
      </div>

    </div>

  </div>





  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #52df49;  border-width: 5px;  border-radius: 15px;margin: 3px">
      <div class="activity-specs beginner" ng-class="activity.level" style="background-color: #52df49;">
        <div class="ng-binding" style="display: inline-block" translate>
          <img ng-cdn-src="home/text_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/text_coding-b30c0986138a0985d3af66182f72ceacb98af52f29c088be04579e838ad968ab.svg">
          Text Coding
        </div>
        <div class="ng-binding" style="display: inline-block;margin-left: 120px" translate>
          <img ng-cdn-src="home/beginner.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/beginner-77b5124ea880e113a20ffcac31b5dc46c2ea6cbe40a951151e494d27a512ef56.svg">
          Beginner
        </div>
      </div>
      <div class="course_image">


        <div *ngIf="payment;else levelthree">

          <img    [class.example-class]="level3"
                  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope"
                  style="position: absolute;z-index: 1 " ng-show="locked()"
                  src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img     [class.opacity]="!level3"           ng-cdn-src="home/activities/beaver_blocks/party.png?v=2" class="thumb ng-isolate-scope"  style=" height: 186px;width: 323px;" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/activities/beaver_blocks/party-0217711d0e46b7bc288a2469abe3cdf1ce635ad6cf2df4c38298015f1b227356.png">

          <button     style="   position: absolute;
             top: 49%;
             left: 22%;
             z-index: 10; "    [class.example-class]="level3"   class="purchase"     (click)="Purchase3()"  translate>Purchase: 350$</button>
        </div>







      </div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#"  translate>Level III </a> <p style="text-align: center" translate>Coding Adventure</p></div>




        <ng-template #levelthree>
          <img    ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img  ng-cdn-src="home/activities/beaver_blocks/party.png?v=2" class="thumb ng-isolate-scope"  style=" height: 186px;width: 323px;opacity: 0.5;" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/activities/beaver_blocks/party-0217711d0e46b7bc288a2469abe3cdf1ce635ad6cf2df4c38298015f1b227356.png">

          <button         style="    position: absolute;
          top: 49%;
          left: 22%;
          z-index: 10;   "   class="purchase"  (click)="Purchase3()"  translate>Purchase: 350$</button>
        </ng-template>








        <div class="course_text" >
          <p translate>Help the cute urchin catch bananas in 75 fun-filled challenges!</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>

    </div>

  </div>


  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #DF6D14;  border-width: 5px;  border-radius: 15px;margin: 3px">

      <div class="activity-specs intermediate" style="background-color: #DF6D14;" ng-class="activity.level">
        <div class="ng-binding" style="display: inline-block" translate>
          <img ng-cdn-src="home/text_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/text_coding-b30c0986138a0985d3af66182f72ceacb98af52f29c088be04579e838ad968ab.svg">
          Text Coding
        </div>
        <div class="ng-binding" style="display: inline-block;margin-left: 90px" translate>
          <img ng-cdn-src="home/intermediate.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/intermediate-216a928bdd01d66b29604933ed068d146f51661c5983687c721eec283c4ad698.svg">
          Intermediate
        </div>
      </div>
      <div class="course_image">
        <img ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
        <img ng-cdn-src="home/activities/courses/trivia-chatbot.jpg" class="thumb ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/activities/courses/trivia-chatbot-38a9ea2d138c15880ff5197a9c37db43918f99f4f6c20073c7edc2c975d4fa14.jpg" style=" height: 186px;width: 323px;opacity: 0.5 ">
      </div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#" translate>Level IV </a> <p style="text-align: center" translate>Part 01: Python Fundamentals</p></div>

        <div class="course_text" >
          <p translate>Help the cute urchin catch bananas in 75 fun-filled challenges!</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" >
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #DF6D14;  border-width: 5px;  border-radius: 15px;margin: 3px">

      <div class="activity-specs intermediate" style="background-color: #DF6D14;" ng-class="activity.level">
        <div class="ng-binding" style="display: inline-block" translate>
          <img ng-cdn-src="home/text_coding.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/text_coding-b30c0986138a0985d3af66182f72ceacb98af52f29c088be04579e838ad968ab.svg">
          Text Coding
        </div>
        <div class="ng-binding" style="display: inline-block;margin-left: 90px" translate>
          <img ng-cdn-src="home/intermediate.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/intermediate-216a928bdd01d66b29604933ed068d146f51661c5983687c721eec283c4ad698.svg">
          Intermediate
        </div>
      </div>
      <div class="course_image">
        <img ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

        <img ng-cdn-src="home/activities/courses/trivia-chatbot.jpg" class="thumb ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/activities/courses/trivia-chatbot-38a9ea2d138c15880ff5197a9c37db43918f99f4f6c20073c7edc2c975d4fa14.jpg" style=" height: 186px;width: 323px;opacity: 0.5 ">

      </div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#"  translate>Level V </a> <p style="text-align: center" translate>Part 02: Python Fundamentals</p></div>

        <div class="course_text" >
          <p translate>Help the cute urchin catch bananas in 75 fun-filled challenges!</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" >
          </div>
        </div>
      </div>

    </div>



  </div>
  <div class="col-lg-4 course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #E73E01;  border-width: 5px;  border-radius: 15px;margin: 3px">



      <div class="activity-specs advanced" ng-class="activity.level" style="background-color: #E73E01;">
        <div class="ng-binding"  style="display: inline-block" translate>
          <img ng-cdn-src="home/python.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/python-21d597d5ef1162c97a104723f6e19ac02c9d4a1e81e6baf49abbb3fb4b9c61e5.svg">
          Python
        </div>
        <div class="ng-binding" style="display: inline-block;margin-left: 140px" translate>
          <img ng-cdn-src="home/advanced.svg" class="ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/advanced-9b93141fa5d7403c93693781064fd4181a2ae9ae01bb8f4b43b7ef990313896b.svg">
          Advanced
        </div>
      </div>
      <div class="course_image">
        <img ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
        <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/activities/courses/coding-chatbots-f9994ef8040f4330b92ba6c112cf6d5107c2fae55eeb86c354c8f0407a43b683.jpg" style=" height: 186px;width: 323px;opacity: 0.5 ">


      </div>
      <div class="course_body" >
        <div class="course_title" style="text-align: center"><a href="#" translate>Level VI </a> <p style="text-align: center" translate>Python Course</p></div>

        <div class="course_text" >
          <p translate>Help the cute urchin catch bananas in 75 fun-filled challenges!</p>
        </div>
        <div class="progress" ng-hide="hideProgressBar"  style="margin-top: 15px">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>

    </div>

  </div>




</div>

























<!--Badges-->
<div id="box3" style="left: 10%;
margin-top: 50px;margin-bottom: 50px">
  <h3 style="color: #f9cf0e;margin-bottom: 5px;text-transform: uppercase;
    font-size: 20px;
    font-weight: 500; display: inline-block" translate id="trial3"> MY ACHIEVEMENTS  <p style="display: inline-block" translate>Badges!</p></h3>
  <hr style="color: #f9cf0e ; height: 5px ;margin-bottom: 10px">


  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #000000;  border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">

        <div *ngIf="User;else other_content2">




          <img  [class.example-class]="User?.points2==10"  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img  [class.opacity]="User?.points2!=10" ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/lettuce.jpg" style=" height: 60px;width: 60px;border-radius: 15px">


        </div>

        <ng-template #other_content2>


          <img   ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

          <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/lettuce.jpg" style=" height: 60px;width: 60px;border-radius: 15px;opacity: 0.5 ">


        </ng-template>






      </div>
    </div>
  </div>

  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #000000;  border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">

        <div *ngIf="User;else other_content3">


          <img  [class.example-class]="User?.points==60"  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img [class.opacity]="User?.points2==60" ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/aicha/Crystal.png" style=" height: 60px;width: 60px;border-radius: 15px ">

        </div>

        <ng-template #other_content3>


          <img   ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

          <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/aicha/Crystal.png" style=" height: 60px;width: 60px;border-radius: 15px;opacity: 0.5 ">


        </ng-template>






      </div>
    </div>
  </div>
  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #000000;  border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">

        <div *ngIf="User;else other_content4">


          <img  [class.example-class]="User?.points_sequencing_blockly + User?.points_loop_blockly + User?.points_condition_blockly== 80"  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img [class.opacity]="User?.points_sequencing_blockly != 10" ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/money.png" style=" height: 60px;width: 60px;border-radius: 15px ">



        </div>

        <ng-template #other_content4>


          <img   ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

          <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/money.png" style=" height: 60px;width: 60px;border-radius: 15px;opacity: 0.5 ">


        </ng-template>






      </div>
    </div>
  </div>



  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #000000;  border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">

        <div *ngIf="User;else other_content5">


          <img  [class.example-class]="User?.points_loop_blockly == 130"  ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">
          <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/Carrots.jpg" style=" height: 60px;width: 60px;border-radius: 15px;opacity: 0.5 ">

        </div>

        <ng-template #other_content5>


          <img   ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

          <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/Carrots.jpg" style=" height: 60px;width: 60px;border-radius: 15px;opacity: 0.5 ">


        </ng-template>






      </div>
    </div>
  </div>

  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #000000;  border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">

        <div *ngIf="User;else other_content6">


          <img  [class.example-class]="User?.points_condition_blockly == 40" ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">


        </div>

        <ng-template #other_content6>


          <img   ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

          <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/Carrots.jpg" style=" height: 60px;width: 60px;border-radius: 15px;opacity: 0.5 ">


        </ng-template>






      </div>
    </div>
  </div>



  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #000000;  border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">
        <img ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

        <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/banana.png" style=" height: 60px;width: 60px;border-radius: 15px;opacity: 0.5 ">


      </div>
    </div>
  </div>

  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #000000;  border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">
        <img ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

        <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/crickets.png" style=" height: 60px;width: 60px;border-radius: 15px;opacity: 0.5 ">


      </div>
    </div>
  </div>




  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
  border-color: #000000;  border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">
        <img ng-cdn-src="home/k1.png" class="lockImage ng-isolate-scope" style="position: absolute;z-index: 1 " ng-show="locked()" src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/k1-30a62e696a90cb422d510df9772b702e7ef24d4f8de51d7481c4bcdec933ed62.png">

        <img ng-cdn-src="home/activities/courses/coding-chatbots.jpg" class="thumb ng-isolate-scope" src="assets/lila/jus.jpg" style=" height: 60px;width: 60px;border-radius: 15px;opacity: 0.5 ">


      </div>
    </div>
  </div>



</div>
















<!--Badges-->
<!--Badges-->
<div id="box3"  style="left: 10%;
margin-top: 50px;">
  <h3 style="color: #f9cf0e;margin-bottom: 5px;text-transform: uppercase;
    font-size: 20px;
    font-weight: 500; display: inline-block" translate> MY BADGES  <p style="display: inline-block" translate>Badges!</p></h3>
  <hr style="color: #f9cf0e ; height: 5px ;margin-bottom: 10px">


  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
    border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">

        <div *ngIf="User" style="height: 100px;width: 100px">

          <div *ngIf=" User?.points+User?.points2 == 70">

          <span>   <img
            class="leaderboard__badge"
            img
            src="/assets/badge/level1a.png"
            alt="image"
            s
          />    </span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="course_col" style="display: inline-block ; ">
    <div class="course" style="border-style: solid;
    border-width: 2px;  border-radius: 15px;margin: 3px">
      <div class="course_image">
        <div *ngIf="User" >

          <div
            *ngIf=" User?.points_condition_blockly+  User?.points_loop_blockly+  User?.points_sequencing_blockly == 80
        "
            style="height: 100px;width: 104px">
        <span>
          <img

            img
            src="/assets/badge/level2a.png"
            alt="image"
          />
        </span>
          </div>
        </div>










      </div>
    </div>
  </div>

</div>


















</body>
