
#blocklyDiv {
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;

}
#blocklyDiv2 {
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;

}
#blocklyDiv3 {
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;

}
#div2{

  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;

}

