

<app-navbar2></app-navbar2>
<div
  [ngStyle]="{
    backgroundImage: 'url(/assets/saharaok.png)',
    paddingTop: '90px',
    paddingBottom: '40px'
  }"
>
  <div id="gameContainer">
    <div id="divId" style="background-color: #a1b3d8; width: 750px;height: 540px ;display: none">
      <img src="/assets/video/study2.png" style="width: 300px; height: 400px; position: relative;left: 58% ; top: 15%">
      <div >
        <h2 id="text" style="position: relative">Are you ready to start </h2>
        <h2 id="text2" style="position: relative">the quiz ? </h2>
        <div style="position: absolute ;top: 60%">
          <button type="button" class="btn btn-primary btn-lg" style=" position: relative;;margin: 25px;padding: 25px; background-color: #318CE7"  (click)="course2Click()" >watch again</button>
          <button type="button" class="btn btn-primary btn-lg" style=" position: relative;margin: 25px;padding: 25px;background-color: #318CE7" (click)="course1Click()">Start Quiz</button>

        </div>


      </div>
    </div>
    <div id="divId2" style="background-color: #a1b3d8; width: 750px;height: 540px;display: none ">

      <div >
        <h2 id="text1" style="position: relative">choose the correct sequence !</h2>

        <div style="position: absolute ;top: 40%">
          <img src="/assets/video/seq1.png" style="width: 300px; height: 250px; position: relative;right: -50px ; top: 5%; border-radius: 15%;;border: 5px solid #318ce7;">
          <img src="/assets/video/seq2.png" style="width: 300px; height: 250px; position: relative;left: 100px ; top: 5%; border-radius: 15%;;border: 5px solid #318ce7;">

        </div >
        <div style="position: absolute ;top: 54%">
          <button id="btn1" type="button" class="btn btn-primary btn-lg" style=" position: relative;margin: 125px;padding: 25px;background-color: #318CE7; border-radius: 15%;" (click)="courseClick2()">Sequence 01</button>
          <button id="btn2" type="button" class="btn btn-primary btn-lg" style=" position: relative;margin-left:60px ;padding: 25px;background-color: #318CE7; border-radius: 15%;" (click)="courseClick()">Sequence 02</button>

        </div>


      </div>
    </div>

    <video #myVideo (timeupdate)="onTimeUpdate()" width="750" height="540" controls (ended)="myTest1()" id="vi"  >
      <source src="/assets/video/Sequencingcourse.mp4" type="video/mp4" id="myVideo">

      Your browser does not support the video tag.
    </video>

  </div>

</div>
