<!--<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>
-->
<div class="all">
  <img class="girafe" src="/assets/aicha/bghome_1.png" alt="image" />
</div>
<div class="custom-shape-divider-bottom-1628366067">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"
    ></path>
  </svg>
</div>
<img
  style="
    object-fit: cover;
    width: 550px;
    position: absolute;
    top: 10%;
    right: 0;
  "
  src="/assets/aicha/family2@2x.png"
  alt=""
/>

<img
  style="position: absolute; top: 56%; left: 23%"
  src="/assets/aicha/champignion1@2x.png"
  alt=""
/>
<img
  style="position: absolute; top: 35%; left: 13%"
  src="/assets/aicha/renard2@2x.png"
  alt=""
/>
<img
  style="left: 0%; position: absolute; width: 160px; top: 13%"
  src="/assets/aicha/treehome@3x.png"
  alt=""
/>

<img
  style="width: 250px; position: absolute; top: 15%; right: 20%"
  src="/assets/aicha/cloudhome@3x.png"
  alt=""
/>

<div class="hero-section">
  <h1
    style="
      margin-top: -354px;
      color: white;
      font-size: 120px;
      font-weight: 600;
      line-height: 1.1em;
      letter-spacing: 2.1px;
      text-shadow: 2px 5px 10px #54595f;
      color: white;

        margin-left: 150px;
    "
  >
    Coding For Kids
  </h1>
</div>
<div style="text-align: center; margin-top: 261px" class="about-section">
  <h2
    style="
      font-size: 42px;
      color: #424c6a;
      font-weight: 700;
      font-family: 'Amatic SC';
    "
    class="about-title"
  translate>
    Get your Children coding in no time!
  </h2>
  <img class="brush" src="/assets/aicha/brushyellow1-8.png" alt="image" />

  <p
    style="
    margin-top: 20px;
      color: #424c6a;
      font-family: 'Montserrat', Sans-serif;
      font-size: 14px;
      font-weight: 500;
    "
    class="about-text"
  translate>
    KidsKode is a fun and educational game-based environment where kids learn to code without any prior experience. After completing KidsKode's

  </p>

  <p  style="
      color: #424c6a;
      font-family: 'Montserrat', Sans-serif;
      font-size: 14px;
      font-weight: 500;
    "
      class="about-text"
      translate>    award-winning coding courses, kids will be able to navigate through the
    programming world with a sense of confidence and accomplishment.</p>
  <br />
  <br />
</div>
<img
  style="width: 200px; left: 45%; position: absolute; top: 100%"
  class="brush"
  src="/assets/aicha/lion@2x.png"
  alt="image"
/>

<!-- Wrapper -->
<h1
  style="
    position: absolute;
    text-align: center;
    margin-top: 250px;
    padding-bottom: 20px;
    left: 32%;
    font-size: 42px;
    color: #424c6a;
    font-weight: 700;
    font-family: 'Amatic SC';
  "
translate>
  teach kids courses that are fun ,intuitive, gamified
</h1>
<div
  style="margin-left: 45px; margin-top: 281px; margin-left: 10%"
  class="wrapper"
>
  <!-- Images Area -->
  <div class="images-area">
    <img src="/assets/lila/sequencing.png" class="firstImage" alt="" />
    <!-- Images Area
    <img src="/assets/saharaa.png" style="width: 400px; height: 300px" alt="" />
    <img src="/assets/snow.png" alt="" /> -->
  </div>
  <!-- Buttons Area -->
  <div class="buttons-area">
    <div class="previous-btn">
      <i class="bx bx-chevron-left"></i>
    </div>
    <div class="next-btn">
      <i class="bx bx-chevron-right"></i>
    </div>
  </div>
  <!-- Pagination Area -->
  <div class="pagination-area"></div>
</div>
<!-- End Wrapper -->
<div style="position: absolute; right: 15%; width: 506px; top: 150%" >
  <h1 id="cur2"
    style="
      font-size: 42px;
      color: #424c6a;
      font-weight: 700;
      font-family: 'Amatic SC';
    "
  translate >
    CURRICULUM
  </h1>
  <p translate>
    KidsKode offers educational resources for students of different grades and
    experience levels. From Junior. to Midlevel, students not only learn coding
    basics, but also how to code in real programming languages. Through
    KidsKode, kids will develop the necessary skills for the future while having
    fun!
  </p>
</div>
<!--
<img src="/assets/aicha/cartoon-bird.png" alt="" />
<img src="/assets/aicha/side@2x.png" alt="" />

 -->
<img src="/assets/aicha/cartoon-bird.png" alt="" />

<img src="/assets/aicha/lila/saharaa.png" alt="" />

<div style="text-align: center; margin-top: -125px">
  <h3
    style="
      text-align: center;
      font-size: 42px;
      color: #424c6a;
      font-weight: 700;
      font-family: 'Amatic SC';
      position: relative;
      top: -15px;
    "
    translate>
    Why Learn Coding
  </h3>
  <ul>
    <li translate>
      <img src="/assets/aicha/check-mark.png" alt="" translate />Multi-step thinking
    </li>
    <li translate><img src="/assets/aicha/check-mark.png" alt=""  translate/> Perseverance</li>
    <li translate><img src="/assets/aicha/check-mark.png" alt="" translate/>Critical-thinking</li>
    <li translate>
      <img src="/assets/aicha/check-mark.png" alt="" translate /> Analytical-thinking
    </li>
  </ul>
</div>

<img
  class="brush"
  style="width: -webkit-fill-available"
  src="/assets/aicha/clouds-pattern-top.png"
  alt="image"
/>
<div class="cloud"></div>
<img
  style="width: -webkit-fill-available"
  src="/assets/aicha/clouds-pattern-bottom.png"
  alt="image"
/>
<img
  style="width: 300px; position: absolute; left: 20%; top: 250%"
  src="https://d3sujgifhk94se.cloudfront.net/wp-content/uploads/2020/01/13132904/Teaching_to_code.png"
  alt="image"
/>
<div>
  <img
    style="width: 300px; position: absolute; right: 15%; top: 312%"
    src="/assets/aicha/technology_teacher.png"
    alt="image"
  />
  <div>
    <h1
      style="
        text-align: center;
        /* font-family: 'Amatic SC'; */
        text-align: center;
        font-size: 60px;
        color: #424c6a;
        /* font-weight: 700; */
        font-family: 'Amatic SC';
        margin-top: -60%;
        font-weight: bold;
        line-height: 1.2em;
        letter-spacing: 1.4px;
      "
      translate>
      What will your child learn?
    </h1>
    <div style="position: absolute; right: 10%; top: 247%">
      <h3
        style="
          text-align: center;
          font-family: 'Amatic SC';
          text-align: center;
          font-size: 42px;
          color: #424c6a;
          font-weight: 700;
          font-family: 'Amatic SC';
        "
        translate>
        CODING CONCEPTS
      </h3>
      <p style="font-size: large; font-weight: 500; text-align: center" translate>Through the KidsKode program, children will learn coding</p>
      <br />
      <p style="font-size: large; font-weight: 500; text-align: center" translate>concepts such as:</p>
      <ul style="display: grid; left: 133px; position: absolute" id="dirL">
        <li translate><img src="/assets/aicha/check-mark.png" alt=""translate />Logic</li>
        <li translate id="seq">
          <img src="/assets/aicha/check-mark.png" alt=""translate /> Sequencing &
          Directions
        </li>
        <li translate><img src="/assets/aicha/check-mark.png" alt="" translate />Loops</li>
        <li translate><img src="/assets/aicha/check-mark.png" alt="" translate/> Conditions</li>
      </ul>
    </div>

    <div style="position: absolute; left: 10%; top: 315%">
      <h3
        style="
          text-align: center;
          font-family: 'Amatic SC';
          text-align: center;
          font-size: 42px;
          color: #424c6a;
          font-weight: 700;
          font-family: 'Amatic SC';
        "
      >
        Javascript
      </h3>
      <p style="font-size: large; font-weight: 500; text-align: center" translate>
        Javascript is a widely used programming language in the real world.

      </p>
      <br />
      <p style="font-size: large; font-weight: 500; text-align: center" translate>
        Some of KidsKode’s courses teach it, specifically Midlevel Level
      </p>
    </div>
  </div>
</div>
<img
  style="position: absolute; right: 0; margin-top: 56%"
  src="/assets/aicha/side@2x.png"
  alt=""
/>

<div style=" padding-top: 60% ; padding-bottom: 120px" class="motivation">
  <h2 style="position: relative;top: 10px;bottom: 10px" translate>Free Trial</h2>
  <p style="position: relative; bottom: 20px;top: 5px" translate>
    Help your child discover their love of code! Get started on the pathway into
    the ever-expanding world of code today.
  </p>
  <button
    type="button"
    class="button"
    style="
      background-color: #f9cf0e;
      color: #0b2e13;
      position: relative;
      right: 0%;
      top: 5px;
    "
    translate >
    Start Now
  </button>
</div>

<section style="position: absolute; z-index: 1; margin-left: 0px">
  <div>
    <img
      ng-cdn-src="home/k1.png"
      class="lockImage ng-isolate-scope"
      style="
        position: absolute;
        z-index: 1;
        top: -48px;
        left: 500px;
        width: 300px;
      "
      ng-show="locked()"
      src="/assets/clumber.png"
    />
    <img
      class="brush"
      src="/assets/footer2.png"
      alt="image"
      style="width: 1510px"
    />
  </div>

  <div
    _ngcontent-apq-c2=""
    style="
      position: relative;
      left: 0px;

      height: 200px;
      width: 1510px;
      /* background-color: #ffd700;*/
      background-color: #fdf1b7;
      background-size: cover;
      background-position: center;
      display: block;
    "
  >
    <section style="position: absolute; left: 190px">
      <div style="display: inline-block; margin-right: 70px; max-width: 150px">
        <h3 translate>COMPANY</h3>

        <p translate>About us</p>
        <p translate>Blog</p>
        <p translate>Jobs</p>
        <p>Partners</p>
      </div>
      <div style="display: inline-block; margin-right: 70px; max-width: 150px">
        <h3 translate>Curriculum</h3>

        <p translate>Courses</p>
        <p translate>Plans</p>
        <p translate>Summer Camp</p>
      </div>
      <div style="display: inline-block; margin-right: 70px; max-width: 150px">
        <h3 translate>Support</h3>

        <p translate>Help Center</p>
        <p translate>Contact Us</p>
        <p translate>FAQ</p>
      </div>
      <div style="display: inline-block; margin-right: 50px; max-width: 440px">
        <h3 translate>About KidsKode</h3>

        <p translate>
          KidsKode is a leading coding for kids program. Through its
          award-winning courses, millions of students learn how to code in real
          programming languages. KidsKode offers an engaging and enjoyable
          curriculum for schools, after-school clubs and camps as well as
          self-paced online courses to learn coding at home.
        </p>
      </div>
      <div style="display: inline-block">
        <h3 translate>KEEP IN TOUCH</h3>
        <i
          class="fa fa-facebook fa-2x"
          aria-hidden="true"
          style="margin-right: 17px"
        >
        </i>
        <i
          class="fa fa-youtube fa-2x"
          aria-hidden="true"
          style="margin-right: 17px"
        >
        </i>
        <i
          class="fa fa-twitter fa-2x"
          aria-hidden="true"
          style="margin-right: 17px"
        >
        </i>
        <i
          class="fa fa-google fa-2x"
          aria-hidden="true"
          style="margin-right: 17px"
        >
        </i>
        <br />
        <br />
      </div>
    </section>
  </div>
</section>
