<app-navbar2></app-navbar2>



<div
  [ngStyle]="{
    backgroundImage: 'url(/assets/aicha/BGok.png)',
    paddingTop: '80px',
    paddingBottom: '10px'
  }"
>
  <div id="gameContainer"></div>
</div>


<!--<button class="view-modal">Help</button>-->

<img class="view-modal" src=" /assets/aicha/help.png " alt="" />
<div style="height: 213px" class="popup">
  <div class="content">
    <h5 style="top: 11%">
      Help Penguo
      <span>
        <img
          style="height: 30px; width: 30px"
          src=" /assets/aicha/penguin.png "
          alt=""
      /></span>
      reach the crystal
      <span>
        <img
          style="height: 30px; width: 30px"
          src="/assets/aicha/Crystal.png"
          alt=""
      /></span>

      and collect the iceboxes
      <span>
        <img
          style="height: 30px; width: 30px"
          src="/assets/aicha/IceBox.png"
          alt=""
      /></span>
      by dragging
      <span>
        <img
          style="height: 30px; width: 30px"
          src="/assets/aicha/loopbefore.png"
      /></span>
      To
      <span>
        <img style="height: 30px; width: 30px" src="/assets/aicha/Sign_1.png"
      /></span>
    </h5>

    <button
      style="
        background-color: red;
        color: white;
        margin-left: 35%;
        /* margin-top: 4%; */
        margin-bottom: -10%;
        top: 76%;
        position: absolute;
        width: 83px;
      "
      class="clos"
    >
      Close
    </button>
  </div>
</div>
