
<div class="row justify-content-end">

  <div  id="blocklyDiv3" class="col-6"></div>


</div>
<div class="row justify-content-end">

  <div  id="blocklyDiv2" class="col-6"></div>

</div>


<div class="row justify-content-end">

   <div  id="div2" class="col-6"></div>

</div>

<div class="row justify-content-end">

  <div  id="blocklyDiv" class="col-6"></div>

</div>
<div id="gameokk"></div>
<div  class="col-6" style="border: 5px solid #8D4024;
  border-radius: 12px; background-color: #E1CE9A"><h4>Your Code goes here :</h4>
  <div id="code" > </div>
</div>

