<div class="all"></div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#fdf1b7"
    fill-opacity="1"
    d="M0,160L34.3,165.3C68.6,171,137,181,206,160C274.3,139,343,85,411,106.7C480,128,549,224,617,261.3C685.7,299,754,277,823,277.3C891.4,277,960,299,1029,272C1097.1,245,1166,171,1234,144C1302.9,117,1371,139,1406,149.3L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
  ></path>
</svg>

<img class="girafe" src="/assets/aicha/girafe@2x-8.png" alt="image" />
<!--

 fill="#ffd700"
    <img src="/assets/wave1.svg" alt="My Happy SVG" />

-->
<div class="hero-section">
  <h1 class="hero-title">COURSES</h1>
  <p class="hero-subtitle">LEARN ALL ABOUT KODEKIDIE’S CODING COURSES</p>
</div>
<div class="about-section">
  <h2 class="about-title">KODEKIDDIES CURRICULUM</h2>
  <img class="brush" src="/assets/aicha/brushyellow1-8.png" alt="image" />

  <p class="about-text">
    KidsKode OFFERS EDUCATIONAL RESOURCES SUITABLE FOR DIFFERENT GRADES AND
    EXPERIENCE LEVELS
  </p>
  <br />
  <br />
</div>
<br />
<br /><br />
<br />
<section class="all-courses">
  <section class="course-section">
    <div class="card-image">
      <img
        class="brush"
        src="/assets/lila/saharaa.png"
        alt="image"
        style="border-radius: 5px"
      />
    </div>

    <div class="card" style="margin-left: 200px">
      <h4>What is Lorem Ipsum?</h4>
      <hr />
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also
        the leap
      </p>
    </div>
    <a href="#" class="button">READ MORE</a>
  </section>

  <section class="course-section">
    <div class="card-image2">
      <img
        class="brush"
        src="/assets/lila/saharaa2.png"
        alt="image"
        style="border-radius: 5px"
      />
    </div>

    <div class="card2">
      <h4>What is Lorem Ipsum?</h4>
      <hr />
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also
        the leap
      </p>
    </div>
    <a href="#" class="button2">READ MORE</a>
  </section>

  <section class="course-section">
    <div class="card-image">
      <img
        class="brush"
        src="/assets/lila/masr.png"
        alt="image"
        style="border-radius: 5px"
      />
    </div>

    <div class="card">
      <h4>What is Lorem Ipsum?</h4>
      <hr />
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also
        the leap
      </p>
    </div>
    <a href="#" class="button" (click)="level1()">READ MORE</a>
  </section>

  <section class="course-section">
    <div class="card-image2">
      <img
        class="brush"
        src="https://d2j5eocv5gptnv.cloudfront.net/assets/home/activities/courses/coding-chatbots-f9994ef8040f4330b92ba6c112cf6d5107c2fae55eeb86c354c8f0407a43b683.jpg"
        alt="image"
        style="border-radius: 5px"
      />
    </div>

    <div class="card2">
      <h4>What is Lorem Ipsum?</h4>
      <hr />
      <p>
        is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also
        the leap
      </p>
    </div>
    <a href="#" class="button2" (click)="level2()">READ MORE</a>
  </section>
</section>

<section
  style="
    position: absolute;
    z-index: 1;
    margin-left: 0px;

    margin-top: 1500px;
  "
>
  <img
    class="brush"
    src="/assets/part1.PNG"
    alt="image"
    style="width: 1480px"
  />
  <img
    class="brush"
    src="/assets/part22.png"
    alt="image"
    style="width: 1480px"
  />
  <img
    class="brush"
    src="/assets/part3.PNG"
    alt="image"
    style="width: 1480px"
  />
</section>
<section class="motivation">
  <h2>What are you waiting for?</h2>
  <p>
    Start teaching your Kids the basics of Computer Science and prepare them for
    the future!
  </p>
  <button
    type="button"
    class="btn"
    style="
      background-color: #f9cf0e;
      color: #0b2e13;
      position: relative;
      right: 0%;
    "
  >
    Start Now
  </button>
</section>

<section
  style="
    position: absolute;
    z-index: 1;
    margin-left: 0px;

    margin-top: 2800px;
  "
>
  <div>
    <img
      ng-cdn-src="home/k1.png"
      class="lockImage ng-isolate-scope"
      style="
        position: absolute;
        z-index: 1;
        top: -48px;
        left: 500px;
        width: 300px;
      "
      ng-show="locked()"
      src="/assets/clumber.png"
    />
    <img
      class="brush"
      src="/assets/footer2.png"
      alt="image"
      style="width: 1480px"
    />
  </div>

  <div
    _ngcontent-apq-c2=""
    style="
      position: relative;
      left: 30px;

      height: 200px;
      width: 1480px;
      /* background-color: #ffd700;*/
      background-color: #fdf1b7;
      background-size: cover;
      background-position: center;
      display: block;
    "
  >
    <section style="position: absolute; left: 190px">
      <div style="display: inline-block; margin-right: 70px; max-width: 150px">
        <h3>COMPANY</h3>

        <p>About us</p>
        <p>Blog</p>
        <p>Jobs</p>
        <p>Partners</p>
      </div>
      <div style="display: inline-block; margin-right: 70px; max-width: 150px">
        <h3>Curriculum</h3>

        <p>Courses</p>
        <p>Plans</p>
        <p>Summer Camp</p>
      </div>
      <div style="display: inline-block; margin-right: 70px; max-width: 150px">
        <h3>Support</h3>

        <p>Help Center</p>
        <p>Contact Us</p>
        <p>FAQ</p>
      </div>
      <div style="display: inline-block; margin-right: 50px; max-width: 440px">
        <h3>About KidsKode</h3>

        <p>
          KidsKode is a leading coding for kids program. Through its
          award-winning courses, millions of students learn how to code in real
          programming languages. KidsKode offers an engaging and enjoyable
          curriculum for schools, after-school clubs and camps as well as
          self-paced online courses to learn coding at home.
        </p>
      </div>
      <div style="display: inline-block">
        <h3>KEEP IN TOUCH</h3>
        <i
          class="fa fa-facebook fa-2x"
          aria-hidden="true"
          style="margin-right: 17px"
        >
        </i>
        <i
          class="fa fa-youtube fa-2x"
          aria-hidden="true"
          style="margin-right: 17px"
        >
        </i>
        <i
          class="fa fa-twitter fa-2x"
          aria-hidden="true"
          style="margin-right: 17px"
        >
        </i>
        <i
          class="fa fa-google fa-2x"
          aria-hidden="true"
          style="margin-right: 17px"
        >
        </i>
        <br />
        <br />
      </div>
    </section>
  </div>
</section>
<!--
<section class="motivation">
  <h2>What are you waiting for?</h2>
  <p>
    Start teaching your students the basics of Computer Science and prepare them
    for the future!
  </p>
</section>
-->
