<app-navbar2></app-navbar2>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"></li>
    <li >
      <a [routerLink]="['/Dashboardadmin']" >Dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/UserList']" >Users List</a>
    </li>
    <li  style="background-color: #f9cf0e">
      <a [routerLink]="['/PaymentList']" >Payment List</a>
    </li>
  </ul>
</div>

<h1
  style="
    text-align: center;

    position: absolute;
    color: #0b2e13;
    left: 27%;

    top: 15%;
  "
>
  Table Of Payments
</h1>
<table style="position: absolute; top: 25%; left: 24%; width: 1000px" class="table">
  <thead  style="background-color: #6d4d2f; color: #f9cf0e">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Amount</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of listpayments">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ c.user.username }}</td>
    <td>{{ c.user.email }}</td>
    <td>{{ c.amount }}</td>
  </tr>
  </tbody>
</table>
<h1
  style="
    text-align: center;
    width: max-content;
    position: absolute;
    left: 27%;
    top: 74%;
  "
>
  Table Of Parents
</h1>

<!--
<div *ngFor="let c of listpayments">
-->
